/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

/* Header */
.top-nav {
  background: #5ea191;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.top-nav ul {
  list-style: none;
  display: flex;
}

.top-nav li {
  margin-right: 20px;
}

.top-nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.top-nav a:hover {
  text-decoration: underline;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 40px;
  left: 0;
  width: 230px;
  background: #7a04eb;
  color: white;
  height: calc(100% - 80px);
  padding: 20px;
}

.sidebar h3 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.sidebar a:hover {
  text-decoration: underline;
}

/* Main Content */
.main {
  margin-left: 230px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact-container {
  background: white;
  padding: 20px;
  border-radius: 4px;
}

.contact-header {
  background: #5ea191;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-desc {
  font-size: 13px;
  margin-bottom: 15px;
}

/* Form Layout */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.form-group {
  flex: 1;
  min-width: 200px;
}

.form-group label {
  font-weight: bold;
  font-size: 13px;
  display: block; /* ensures next input comes below */
  margin-bottom: 4px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Gender, Hobbies, Favorite Color */
.form-group input[type="radio"],
.form-group input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
  margin-top: 6px;
}

/* Favorite Color now comes below the label */
.form-group input[type="color"] {
  display: block; /* forces new line */
  width: 20px;
  height: 20px;
  padding: 0;
  margin-top: 6px;
  border: none;
}

/* Buttons */
.form-buttons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.submit-btn,
.reset-btn {
  flex: 1;
  padding: 8px 0;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn {
  background: #5ea191;
  color: white;
}

.reset-btn {
  background: #5ea191;
  color: white;
}
.reset-btn:hover {
  background-color: #572afb;
}
.submit-btn:hover {
  background-color: #572afb;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #5ea191;
  color: white;
  text-align: center;
  padding: 11px 0;
}
