* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: rgb(20, 168, 118);
}
header {
  background-color: rgb(20, 168, 118);
  padding: 10px 0;
}
.top-nav {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0 20px;
}
.top-nav li {
  margin-right: 20px;
  padding: 5px;
}
.top-nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.top-nav a:hover {
  text-decoration: underline;
  display: flex;
}
h2 {
  color: white;
  background-color: rgb(20, 168, 118);
  border: 5px;
}
.side-menu {
  background-color: blueviolet;
  color: white;
  width: 400px;
  height: 800px;
}
.side-menu a {
  color: white;
  text-decoration: none;
  padding: 7px;
}
.side-menu h3 {
  padding: 7px;
}
.side-menu li {
  padding-top: 5px;
}
.container {
  display: flex;
  background-color: beige;
}
.row {
  display: flex;
}
.form-container {
  background-color: beige;
}
